{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pombos de Osasco</title>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>
    <nav>
        <a href="">Cachorro Quente</a>
        <a href="">Pombos</a>
        <a href="">Seja Assaltado</a>
        <a href="">Rolezinho</a>
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        <p>Cuidado com os assalto, cuidado com os cara na moto de garupa</p>
    </footer>
</body>
</html>